#u90
{
    background-color: #345234;
    background-color: rgba(14,50,14,0.84);
    position: relative;
    -pie-background: rgba(14,50,14,0.84);
}

#u91-4
{
    -pie-box-shadow: none;
    box-shadow: 6px 6px 8px rgba(0,0,0,0.5);
    border-style: solid;
    border-color: #000000;
    background-color: transparent;
    line-height: 48px;
    font-size: 36px;
    letter-spacing: -2px;
    font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
    font-weight: bold;
    position: relative;
    border-width: 0px 0px 2px;
}

#u81
{
    background-color: #5E754F;
    background-color: rgba(23,56,0,0.69);
    position: relative;
    -pie-background: rgba(23,56,0,0.69);
}

// -----------------------------
* {display:none}
.html {
    background: #1C3E09 url(../images/field%20view.jpg);
    background-size:cover;
    background-attachment: fixed!important;
    padding-top:40px;
}
body {
    background-color:transparent;
}

[this-id="main"]>[this-content] {
    background-color: rgba(23,56,0,0.69);
    padding:30px;
    padding-top:10px;
    overflow-y:auto!important;
    color:#fff;
}
.colelem {
    display: inline;
    float: left;
    clear: both;
}
h1 {
    font-size:100%;
    font-weight:bold;
}
#u90 {
    z-index: 3;
    width: 100%;
}

.text-white, .text-white a  {
    color:#fff!important;
}
.text-cream, .text-cream a  {
    color:#D9E090!important;
}
.text-gold, .text-gold a  {
    color: #D9E031!important;
}
.text-bold {
    font-weight:bold!important;
}
.text-truncate {
    white-space: nowrap;
    width: 100%;                   /* IE6 needs any width */
    overflow: hidden;              /* "overflow" value must be different from  visible"*/ 
    -o-text-overflow: ellipsis;    /* Opera < 11*/
    text-overflow:    ellipsis;
}

.inline {
    display:inline!important;
}
.inline-block {
    display:inline-block!important;
}

.navbar {
    margin-bottom: 10px;
}
.navbar.offline {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}
.navbar a {
    color:#ffffff;
    font-weight:bold;
}
.navbar a:hover {
    color:#000;
}
.navbar.offline * {
    color:inherit!important;
}
.navbar li:hover a {
    color:darkgreen;
}
.navbar li.active a {
    background-color:#eee;
    color:darkgreen;
}
.navbar-brand {
    font-size:36px;
    font-weight:bold;
}

@media (max-width:991px) {
    [this-id="main"]>[this-content] {
        overflow-y:visible!important;
    }
}